*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
data/preprocess/data.txt filter=lfs diff=lfs merge=lfs -text
data/preprocess/dataset.pkl filter=lfs diff=lfs merge=lfs -text
data/raw/imdb_dataset.csv filter=lfs diff=lfs merge=lfs -text
embeddings/domain/vectors.bin filter=lfs diff=lfs merge=lfs -text
embeddings/general/vectors.pkl filter=lfs diff=lfs merge=lfs -text
embeddings/general/vocab.pkl filter=lfs diff=lfs merge=lfs -text
embeddings/domain/vocab.pkl filter=lfs diff=lfs merge=lfs -text
